@import "../lily/css/lily.scss";

body {

}

.page-stat {
  border: solid 2px #ddd;
  background-color: #FFF;
  margin-top: $grid-gap / 2;
  border-radius: $border-radius-default;


  .title {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
  }
  .gbox {
    padding-bottom: percentage(1/3);
    position: relative;
    .graph {
      position: absolute;
      top:0;bottom:15px;left:15px;right:15px;
    }
  }
}

.graph svg{
  rect.bar {
    &:hover {
      fill: #ffcc3f;
    }
  }

  g.axis {
    path {
      // display: none;
      fill: none;
    }
    line {
      fill: none;
      stroke: #333;
      shape-rendering: crispEdges;
    }
    text {
      font-size: 14px;
      // font-weight: bold;
    }
  }

  path.polyline {
    fill: none;
    stroke: #bbb;
    stroke-width: 2px;
  }

  circle.point {
    fill: white;
    stroke: #333;
    stroke-width: 2px;
    &:hover {
      fill: #ffcc3f;
    }
  }
}

.bar-tip {
  // $c: #444;
  // $c:rgba(#444, 1);
  $c: lighten(#2e333f, 5%);
  $p: 5px;

  background-color: $c;
  color:white;
  padding:5px 10px;
  border-radius:3px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  .time-text, .count-text {color:#ffcc3f;}
  &:after {
    content:"";
    position: absolute;
    width:0;height:0;
    border:solid $p transparent;
    border-top-color: $c;
    top:100%;left:50%;
    margin-left:- $p;
  }
}