body {
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "微软雅黑";
  font-size: 14px;
  line-height: 1.142857143;
  color: #333;
}

.page-stat {
  border: solid 1px #ddd;
  background-color: #FFF;
  margin: 10px;

  .title {
    background-color: #f7f7f7;
    border:solid 1px #eee;
    height:40px;line-height:40px;
    margin:5px;
    padding:0 10px;
    font-size: 14px;
    font-weight: bold;
  }
  .gbox {
    padding-bottom: percentage(1/5);
    position: relative;
    .graph {
      position: absolute;
      top:0;bottom:5px;left:5px;right:5px;
    }
  }
}

.graph svg{
  rect.bar {
    &:hover {
      fill: #ffcc3f;
    }
  }

  g.axis {
    path {
      // display: none;
      fill: none;
    }
    line {
      fill: none;
      stroke: #333;
      shape-rendering: crispEdges;
    }
    text {
      font-size: 14px;
      // font-weight: bold;
    }
  }

  path.polyline {
    fill: none;
    stroke: #bbb;
    stroke-width: 2px;
  }

  circle.point {
    fill: white;
    stroke: #333;
    stroke-width: 2px;
    &:hover {
      fill: #ffcc3f;
    }
  }
}

.bar-tip {
  // $c: #444;
  // $c:rgba(#444, 1);
  $c: lighten(#2e333f, 5%);
  $p: 5px;

  background-color: $c;
  color:white;
  padding:5px 10px;
  border-radius:3px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  .time-text, .count-text {color:#ffcc3f;}
  &:after {
    content:"";
    position: absolute;
    width:0;height:0;
    border:solid $p transparent;
    border-top-color: $c;
    top:100%;left:50%;
    margin-left:- $p;
  }
}